@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: black;
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
}

.container__video {
  border: 1px solid black;
  left: 19px;
  position: absolute;
  top: 19px;
}

.container__grid {
  display: grid;
  grid-gap: 1px;
  grid-template-rows: auto;
}

.container__canvas {
  position: absolute;
  visibility: hidden;
}

.info,
.nav {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Mono', monospace;
  position: fixed;
}

.info {
  align-items: flex-start;
  left: 25px;
  top: 15px;
}

.nav {
  align-items: flex-end;
  bottom: 15px;
  right: 25px;
}

.nav a {
  color: white;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: line-through;
}

